<template name="_header">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <div class="container">
          <a class="brand-logo" href="{{pathFor 'home'}}">Tellus</a>
  
          <ul class="right">
            <li><a class="dropdown-button" href="#!" data-activates="user-dropdown" title="{{_ 'useraccount'}}"><i class="mdi-social-person"></i></a></li>
            <li><a class="dropdown-button" href="#!" data-activates="lang-dropdown"><i class="mdi-navigation-more-vert"></i></a></li>
          </ul>
  
          <ul class="right hide-on-med-and-down">
            <li class="{{ isActiveRoute regex='home' }}"><a href="{{ pathFor 'home' }}" title="{{_ 'home'}}"><i class="mdi-action-home"></i></a></li>
            <li class="{{ isActiveRoute regex='dashboard' }}"><a href="{{ pathFor 'dashboard' }}" title="{{_ 'dashboard'}}"><i class="mdi-action-dashboard"></i></a></li>
          </ul>
    
          <ul id="lang-dropdown" class="dropdown-content">
            <li><a href="#" data-action="switch_fr">{{{current_language_tag 'fr'}}}FR</a></li>
            <li><a href="#" data-action="switch_en">{{{current_language_tag 'en'}}}EN</a></li>
          </ul>
          
          <ul id="user-dropdown" class="dropdown-content">
            {{#if currentUser}}
              <li><a href="{{ pathFor 'userprofile' }}">{{_ 'useraccount'}}</a></li>
              <li><a href="#" data-action="logout"><i class="mdi-action-lock"></i> {{_ 'sign_out'}}</a></li>
            {{else}}
              <li><a href="{{ pathFor 'atSignIn' }}">{{_ 'sign_in'}}</a></li>
              <li><a href="{{ pathFor 'atSignUp' }}">{{_ 'register'}}</a></li>
            {{/if}}
          </ul>
          
          <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
        </div>
      </div>
    </nav>
  </div>
  <ul id="nav-mobile" class="side-nav">
    <li class="bold {{ isActiveRoute regex='home' }}"><a href="{{ pathFor 'home' }}" title="{{_ 'home'}}"><i class="mdi-action-home"></i> Home</a></li>
    <li class="bold {{ isActiveRoute regex='dashboard' }}"><a href="{{ pathFor 'dashboard' }}" title="{{_ 'dashboard'}}"><i class="mdi-action-dashboard"></i> Dashboard</a></li>
  </ul>

</template>
