.loading {
  padding-top: 100px;
}

nav {
  margin-bottom: 24px;
}

ul.side-nav li a {
  line-height: 44px;
  padding: 24px;
  display: block;
}

ul.side-nav li {
  float: none;
}

.dropdown-content {
  width: 200px;
  overflow: hidden;
}

.breadcrumb {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7); 
}
.breadcrumb:before {
  content: '\E5CC';
  color: rgba(255, 255, 255, 0.7);
  vertical-align: top;
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  margin: 0 10px 0 8px;
  -webkit-font-smoothing: antialiased;
}
.breadcrumb:first-child:before {
  display: none; 
}
.breadcrumb:last-child {
  color: #fff; 
}
