<template name="dashboard">
  <div class="template-dashboard">
    <h1>{{_ 'dashboard'}}</h1>

    {{#if currentUser.isAdmin}}
      <a class="btn-floating btn-large waves-effect waves-light red lighten-2 right" href="{{pathFor 'items.new'}}"><i class="mdi-content-add"></i></a>
      <div class="row">
        <div class="col s6 m3">
          {{> card_user}}
        </div>
        <div class="col s6 m3">
          {{> card_items}}
        </div>
      </div>
      
      {{> yield "dashboard_data"}}
    {{else}}
      {{_ 'admin.rights_required'}}
    {{/if}}
  </div>
</template>
